@import 'fonts';

footer {
  position: static;
  bottom: 0;
  width: 100%;

  padding: 8rem 0;
  text-align: center;
  background-color: #000;

  .container {
    margin-top: 0 !important;
  }

  .social {
    display: block;
    margin-top: 3rem;
    a {
      border: none;
      color: #fff;
      font-size: $text-med;
      margin: 0 8px;
      padding: 15px;
      display: inline-block;

      &:hover {
        background: none;
        text-decoration: none;
      }
    }
  }
  .rights {
    margin-top: 3rem;

    .terms {
      display: inline-block;
      font-size: $text-small;
      padding: 0 1rem;
      border-right: 1px solid #E5E5E5;
      color: #fff;

      &:hover {
        text-decoration: none;
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}